*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    
    background-image: linear-gradient(to right, #2e3a7e 0%, #0d115d 60% );
    height: 100vh;


}

.menu{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    max-width: 1280px;
    margin: 0 auto;
    

}

.index.html{
    color: rgb(255, 255, 255);
    padding: 20px;

}

#titulo{
    text-align: center;
    text-transform: uppercase;
    color:         #0e2d96;
    background-color: #dadcdd;
    box-shadow: 1px 1px 2px 2px #77a2cc;
    
}


/* Estilização */

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #e8e3e3;
    text-decoration: none;
    display: inline-block;
    text-decoration-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300px;
   


}

header a:hover{
    color: #fff;
    transform: scale(1.10);


}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
   
    
}

header nav li{
    display: inline-block;
    padding: 10px;
    display: inline;

}





.sobremim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

}

img{
    width: 20%;

}

.img07{
    width: 20%;
    border: solid black;
    margin: 20px;

}

li{
    font-family: fantasy;
    color: rgb(163, 168, 177);
    margin-left: auto;
    width: 800px;
    font-size: 20px;
}


h2, h3 {
    color: #fff;

}


.row2 img{
    border: solid black;
    text-align: center;
    padding-left: 13px;
    margin-top: 50px;
    margin-right: 200px;
}

.row2 h1{
    display: flex;
    justify-content: left;
    align-items: left;
    

}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}






